*{
margin:0;
	padding: 0;	
}
body{
	background:url('images/main-bg.png') repeat;
}

div.container{
	width: 1074px;
	margin: 1px auto;
	background:url('images/main.png') no-repeat;
	height: 790px;
}
div.top{
	height: 280px;
}

div.allah{
	width:70px;
	height:133px ;
	float: left;
	margin-left: 50px;
	background: url('images/allah.png');
	background-size: cover;
}

div.mo{
	width: 100px;
	height: 78px;
	float: right;
	margin-right: 50px;
	background: url('images/m1.png');
	background-size: cover;
}
div.end{
	height: 290px;
}